/* Container for the club section */
.club-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-top: 100px;
  position: relative;
}



/* Title style for the club section */
.club-title {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #333; /* Dark grey color */;

}

/* Container for the cards */
.card-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-gap: 2rem;
  width: 100%
}

/* Style for individual cards */
.card {
  background-color: #fff; /* White background */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer; /* Add cursor pointer to indicate clickability */
}

/* Hover effect on cards */
.card:hover {
  transform: translateY(-5px);
}

/* Image container within the card */
.card-image {
  height: 200px;
  overflow: hidden;
}

/* Image within the card */
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*footer style*/
