.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-top: 100px;
  position: relative;
}

.event-title {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #333; /* Dark grey color */
}

.event-container > footer {
  position: absolute; /* Position the footer at the bottom */
  bottom: 0;
  left: 0;
  width: 100%;
}