
.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-logo {
  height: 60px;
  width: auto;

}

.logo-container {
  display: flex;
  align-items: center;
}

.navbar-logoname {
  color: palevioletred; 
  font-size: 24px; 
  font-weight: bold; 
  text-shadow: 0 0 10px #ff69b4;
  margin-right: 100px;
}

.navbar-links ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.navbar-item:last-child {
  margin-right: 0;
}

.profile-dropdown {
  margin-left: auto;
}

.profile-button {
  margin-left: auto;
  
}

.navbar-toggle {
  display: block;
  background-color: black;
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.navbar-toggle-icon {
  display: block;
  width: 22px;
  height: 22px;
  background-color: #333;
  position: relative;
}

.navbar-toggle-icon::before,
.navbar-toggle-icon::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #333;
  position: absolute;
  left: 0;
}

.navbar-toggle-icon::before {
  top: -6px;
}

.navbar-toggle-icon::after {
  top: 6px;
}

.navbar {
  display: none;
  background-color: #fff;
  padding: 20px;
}

.navbar.show {
  display: block;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  margin: 0 10px;
  margin-right: 20px;
  position: relative;
}

.navbar-item2{
  margin-left: 500px;
  position:relative;
}

.nav-link {
  color: #ff69b4;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background-color: #ff0000;
  color: #fff;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 200px;
  border-radius: 4px;
  z-index: 1;
  top: 100%;
  left: 0;
  flex-direction: column;
}

.dropdown-menu a {
  display: block;
  padding: 5px 10px;
  color: #ff69b4;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: #ff0000;
  color: #fff;
}

.dropdown:hover .dropdown-menu {
  display: flex;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }

  .navbar {
    display: block;
  }
}


.navbar-left {
  display: flex;
  align-items: left;
  margin-right: 0;
}

.navbar-right {
  display: flex;
  align-items: right;
  margin-left: auto;
}
