.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-logo {
  height: 60px;
  width: 100px;
  margin-right: 0;

}

.navbar-logoname{
  display: flex;
  align-items: center;
  margin: auto;
  margin-left: 0;
  color: palevioletred; 
  font-size: 24px; 
  font-weight: bold; 
  text-shadow: 0 0 10px #ff69b4;
  margin-right: 50px;
  margin-right: 350px;
}



.navbar-links ol {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol li{
  list-style-type: none;
}

.navbar-links a {
  color: #002244;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold ;
}


.navbar-item {
  margin: 0 10px;
  margin-right: 40px;
  position: relative;
  
}

.nav-link:hover {
  background-color: #6495ED;
  color: #fff;
}
  



.dropdown-menu a {
  display: block;
  padding: 5px 10px;
  color: #002244;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: #6495ED;
  color: 002244;
}

.dropdown:hover .dropdown-menu {
  display: flex;
}
