/* Profile.css */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-left: 200px; 
  }
  
  .profile-info {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    max-width: 500px;
    width: 100%;
  }
  
  .profile-info h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .profile-info p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  
  .profile-info h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .profile-info ul {
    list-style-type: none;
    padding: 0;
  }
  
  .profile-info li {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .profile-info a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    margin-top: 1.5rem;
  }
  
  .profile-info a:hover {
    background-color: #0056b3;
  }